.esg-form {
  background: linear-gradient(to bottom, #013238 0px, #b5cdbf 500px, #b5cdbf 95%, #013238 100%);
  padding: 20px; /* Optional: Add padding to give space inside the container */
  box-shadow: none; /* Optional: Add subtle shadow for depth */
  position: static;
  min-height: 100vh;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
  margin-top: -100px
}


.esg-container {
  display: flex; /* Layout with a sidebar and content */
  justify-content: flex-start; /* Align content to the left */
}

.sidebar-menu {
  position: sticky;
  top: 15%; /* Start from the middle of the viewport */
  padding-top: 50px;
  width: 20%; /* Default width of the sidebar */
  padding: 10px; /* Internal padding */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
  height: fit-content;
 /* Smooth transition when expanding or collapsing */
  border-radius: 20px; /* Default border-radius */
  background-color: white;
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: -40px;
  margin-bottom: 85px;
}


.sidebar-menu.collapsed {
  width: 8%;
  transition: width 0.7s ease ; 
  
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu.collapsed ul {
  display: none; /* Hide the list when collapsed */
}

.sidebar-menu .clickable {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ddd; /* Line separator */
}

.sidebar-menu .clickable:hover {
  background-color: #d1e7dd; /* Hover color */
}

.main-content {
  width: 80%; /* Main content area */
  padding: 20px;
}

.toggle-btn {
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

.sidebar-menu .toggle-btn {
  width: 100%; /* Button will take up full width when collapsed */
  text-align: center; /* Center the button */
}

.navigation-buttons {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  gap: 10px; /* Optional: Add some space between the buttons */
}

.sidebar-menu .clickable.active {
  background-color: #d1e7dd; /* Active module background */
  font-weight: bold; /* Optional: Make the text bold for emphasis */
  color: #013238; /* Optional: Change text color for active state */
}

.sidebar-menu::-webkit-scrollbar {
  width: 20px; /* Width of the scrollbar */
}

.sidebar-menu::-webkit-scrollbar-thumb {
  border: 7px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #b5cdbf; /* Scrollbar thumb color */
  border-radius: 15px; /* Round edges of the scrollbar */
}

.sidebar-menu::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Scrollbar track color */
  border-radius: 8px; /* Round edges of the track */
  
}

.sidebar-menu::-webkit-scrollbar-thumb:hover {
  background-color: #7e9d8a; /* Change thumb color on hover */
}


.sidebar-menu::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 15px; 
}

.sidebar-menu::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 15px;
}

.toggle-btn {
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
 
}

.toggle-container{
  width: 100%;
  position: relative;
  margin-top: -20px;
  top: -20px;
  position: sticky;
  background-color: white;

}

.custom-text {
  text-align: center;
  font-weight: bold; /* Makes the text bold */
}


.loader-text{
  text-align: center;
  margin-top: 60px;
}