<div class="home-box">
  <div class="home-container row" ng-cloak>
    <div class="content col-12 col-md-6">
      <h1>Faites de votre PME un moteur de changement :</h1>
      <h2>adoptez la certification ShiftingPact <br/> pour un avenir durable, responsable et engagé.</h2>
      <button class="commencer-btn" (click)="onStart()">Commencer</button>
    </div>
    <div class="image-container col-12 col-md-6">
      <img src="../../../assets/certificat.png" alt="Certificat ShiftingPact" class="certificat-image">
    </div>
  </div>

  <div class="first-container " [class.visible]="isScrolledFirstContainer">
    <div class="row justify-content-center">
      <div class=" col-md-6 ">
        <h2>Comment ça fonctionne ?</h2>
        <p>
          Des questionnaires personnalisés, une évaluation complète et des engagements concrets<br/>
          Que votre entreprise soit en phase de démarrage ou bien établie, la certification ShiftingPact optimise votre stratégie<br/>
          d’impact en alignant vos engagements sur les standards les plus élevés de durabilité.
        </p>
      </div>
    </div>
  
    <div class="row justify-content-center ">
      <div class=" col-md-6 ">
        <h2>Nos références</h2>
        <p>
          La certification ShiftingPact repose sur les principaux standards internationaux, notamment :<br/>
          Les Objectifs de Développement Durable (ODD) des Nations Unies.<br/>
          Elle évalue à la fois les performances actuelles de l’entreprise et valorise les engagements d’amélioration.<br/>
          La certification est valable deux ans à compter de sa délivrance.
        </p>
      </div>
    </div>
  </div>

  <div class="second-container" [class.visible]="isScrolledSecondContainer">
    <div class="row justify-content-center ">
      <div class="list-container  col-md-6">
        <h2>Pourquoi obtenir la certification ShiftingPact ?</h2>
          <ol role="list">
            <li>
              
              <p><strong class="highlighted-text">Reconnaissance et crédibilité</strong><br/>
                La certification offre une reconnaissance officielle des efforts de l’entreprise en matière de durabilité
                et de responsabilité sociale. Nos rapports détaillent vos performances avec une transparence totale,
                renforçant ainsi la confiance de vos parties prenantes.
              </p>
          </li>

          <li>
            <p><strong class="highlighted-text">Amélioration continue</strong><br/>
              Le processus vous permet d’évaluer la maturité de votre entreprise et de définir un plan
              d’actions sur mesure pour améliorer vos pratiques et votre impact.
            </p>
          </li>
      
          <li>
            <p><strong class="highlighted-text">Engagement des collaborateurs</strong><br/>
              En intégrant des pratiques responsables, vous renforcez la fierté et la motivation des équipes,
              ce qui favorise la satisfaction et la rétention des talents.
            </p>
          </li>
        
          <li>
            <p><strong class="highlighted-text">Avantage concurrentiel</strong><br/>
              Les entreprises certifiées se démarquent en prouvant leur engagement envers des pratiques
              durables, attirant ainsi clients, investisseurs et talents sensibles à ces valeurs.
            </p>
          </li>

          <li>
            <p><strong class="highlighted-text">Accès aux marchés et financements</strong><br/>
              De plus en plus de marchés et de programmes de financement privilégient les entreprises responsables.
              La certification ShiftingPact renforce votre positionnement pour saisir ces opportunités.
            </p>
          </li>

          <li>
            <p><strong class="highlighted-text">Majoration des subsides</strong><br/>
              À Bruxelles, les PME certifiées sont reconnues comme exemplaires et peuvent bénéficier d’une majoration
              des subsides de la Région.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="third-container" [class.visible]="isScrolledThirdContainer">
    <div class="dual-container ">
      <div class="column  col-md-7">
        <h2>Qu'est ce que l'ESG ? </h2>
        <p>
          <strong>L’ESG (Environnement, Social, Gouvernance)</strong> est un ensemble de critères permettant d’évaluer la responsabilité et la durabilité des entreprises. 
          <strong>>Environnement</strong> concerne la gestion des ressources et l’impact écologique. <strong>Social</strong> englobe les relations avec les employés, les communautés et les
           conditions de travail. <strong>Gouvernance</strong> traite des pratiques de gestion, de transparence et d’éthique. 
           L’ESG guide les investisseurs vers des entreprises engagées dans des pratiques responsables.
        </p>
      </div>
      <div class="column   col-md-7">
        <h2>Qu'est ce que l'ODD ? </h2>
        <p>
          <strong>L'ODD (Objectif de Développement Durable)</strong> désigne les 17 objectifs fixés par l'ONU pour éradiquer la pauvreté, 
          protéger la planète et garantir la prospérité d'ici 2030. Chaque ODD cible des enjeux mondiaux comme <strong>l’éducation, 
          l’égalité des genres, la santé, l’énergie propre ou la lutte contre le changement climatique.</strong> 
          Ces objectifs visent une croissance durable, inclusive et équilibrée, en mobilisant gouvernements, entreprises et citoyens.
        </p>
      </div>
    </div>
  </div>
</div>



